body {
	margin: 0;

	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h2 {
	font-size: 2em;
	line-height: 1.1;
	font-family: Courier, monospace;
	text-align: center;
	color: #0f0;
}

h4 {
	font-size: 1.5em;
	line-height: 1.1;
	font-family: Courier, monospace;
	color: #0f0;
}

p,
label {
	text-align: justify;
	text-justify: inter-word;
	font-size: 1.3em;
	font-family: Courier, monospace;
}

#agree-div {
	display: flex;
	flex-direction: column;
	/* border: solid;
	border-width: 1px;
	border-color: #ffffff; */
	border-radius: 5px;
	/* padding-left: 5px;
	padding-right: 5px; */
	padding-bottom: 5px;
	margin-bottom: 0.5rem;
	font-family: Courier, monospace;
}

#email-input {
	/* margin-left: 0.5em; */
	width: "3wh";
	appearance: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #0f0;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 0.2em 0.2em 0 0;
	color: #0f0;
	font-family: Courier, monospace;
	font-size: 1.2em;
}

#agreeCheckText {
	text-align: justify;
	text-justify: inter-word;
	padding: 1px;
	font-size: 1.2em;
}

/* #app {
	max-width: 1280px;
	margin: 0 auto;

	text-align: center;
} */

#outPopUp {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	background: white;
}

button {
	font-family: Courier, monospace;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	/* font-family: inherit; */
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #ffffff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
